<main>
  <h1>{{pokemon.name}}</h1>
  <img class="cube" src="{{pokemon.imageUrl}}">
  <div class="details">
    <p><span>Description:</span>{{pokemon.description}}</p>
    <p><span>Power:</span>{{pokemon.power}}</p>
    <p><span>Height:</span> {{pokemon.height}}</p>
    <p><span>Weight:</span> {{pokemon.weight}}</p>
    <p><span>Category:</span> {{pokemon.category}}</p>
    <p><span>Type:</span> {{pokemon.type}}</p>
    <a class="btn" href="/">Back</a>
    <a class="btn btn-primary" href="/pokemons/{{pokemon._id}}/attach-element">Attach Element</a>
  </div>
  <h2>Extra Aquired Elements</h2>
  <div class="accessories">
    {{#each pokemon.elements}}
    <div class="accessory">
      <img src="{{imageUrl}}" alt="elementName">
      <h3>{{type}}</h3>
    </div>
    {{else}}
    <h3 class="italic">This pokemon has no extra elements yet...</h3>
    {{/each}}
  </div>
</main>